<div class="section-title text-center mb-45 ">
  <h3 class="heading" style="color: black;">
    {% if app.user %}
    {{app.user.lastName}} {{app.user.firstName}}
  {% endif %}</h3>
  <div class="excerpt">
    <p>Bonjour {{app.user.firstName}} {{app.user.lastName}} </p>
  </div>
  <i class="icofont icofont-traffic-light"></i>
</div>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" aria-expanded="false" href="#accordion-1">{{ 'app.menu.location.title'|trans }}</a>
      </h4>
    </div>
    <div id="accordion-1" class="panel-collapse collapse " data-parent="#accordion">
      <div class="panel-body">
        <ul>
          <li><a href="{{ path('metting_point_list') }}">{{ 'app.menu.location.list'|trans }}</a></li>
          <li><a href="{{ path('add_metting_point') }}">{{ 'app.menu.location.add'|trans }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" aria-expanded="false" href="#accordion-2">
          {{ 'app.menu.user.instructor.title'|trans }}        </a>
      </h4>
    </div>
    <div id="accordion-2" class="panel-collapse collapse" data-parent="#accordion">
      <div class="panel-body">
        <ul>
          <li><a href="{{ path('list_instructor') }}">{{ 'app.menu.user.instructor.list'|trans }}</a></li>
          <li><a href="{{ path('add_instructor') }}">{{ 'app.menu.user.instructor.add'|trans }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default"> {# student #}
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" aria-expanded="false" href="#accordion-3">
          {{ 'app.menu.user.student.title'|trans }}        </a>
      </h4>
    </div>
    <div id="accordion-3" class="panel-collapse collapse" data-parent="#accordion">
      <div class="panel-body">
        <ul>
          <li><a href="{{ path('list_students') }}">{{ 'app.menu.user.student.list'|trans }} </a></li>
          <li><a href="{{ path('add_instructor') }}">{{ 'app.menu.user.student.add'|trans }} </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" aria-expanded="false" href="#accordion-4">Les examen </a>
      </h4>
    </div>
    <div id="accordion-4" class="panel-collapse collapse " data-parent="#accordion">
      <div class="panel-body">
        <ul>
          <li><a href="#">{{ 'app.menu.examination_area.title'|trans }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" aria-expanded="false" href="#accordion-5">
          {{ 'app.menu.shop.title'|trans }}
        </a>
      </h4>
    </div>
    <div id="accordion-5" class="panel-collapse collapse " data-parent="#accordion">
      <div class="panel-body">
        <ul>
          <li><a href="{{ path('shop_list') }}"> {{ 'app.menu.shop.list'|trans }} </a></li>
          <li><a href="{{ path('shop_add') }}"> {{ 'app.menu.shop.add'|trans }} </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" aria-expanded="false" href="#accordion-6">
          {{ 'app.menu.admin.title'|trans }}
        </a>
      </h4>
    </div>
    <div id="accordion-6" class="panel-collapse collapse " data-parent="#accordion">
      <div class="panel-body">
        <ul>
          <li><a href="{{ path('admin_list') }}"> {{ 'app.menu.admin.list'|trans }} </a></li>
          <li><a href="{{ path('admin_add') }}"> {{ 'app.menu.admin.add'|trans }} </a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
