{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}

  {% include 'common/banner.html.twig' with {
    title :'security.login.reset'|trans,
    home :'app.menu.home'|trans,
    link :  path('homepage')
  } %}

<div class="container">

  <div class="col-12">
    <div class="col-6 offset-3">
      <div class="col-12">
        {% include 'blocks/title.block.html.twig' with {
          title: 'security.login.reset',
          description: 'Modifier le mot de passe'
        } %}
      </div>
    </div>
  </div>

<div class="account-wrap">
  <div class="container">
    <h1 class="account-title">{{ 'app.title.account'|trans }}</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="account-info-block">
          <div class="account-initial">{{ app.user.firstName }} {{ app.user.lastName }}</div>
          <div class="account-mail">{{ 'security.login.email'|trans }} : {{ app.user.email }}</div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="account-form-block">
          {{ form_start(form, {attr: {class: 'fos_user_resetting_reset'} }) }}
            {% if form.vars.submitted and form.vars.valid %}
              <div class="alert alert-success">{{ 'account.password_confirmation'|trans }}</div>
            {% endif %}

            <div class="form-group {% if form_errors(form.current_password) %}has-error{% endif %}">
              {{ form_label(form.current_password) }}
              {{ form_widget(form.current_password) }}
              {{ form_errors(form.current_password) }}
            </div>

            <div class="form-group {% if form_errors(form.plainPassword.first) %}has-error{% endif %}">
              {{ form_label(form.plainPassword.first) }}
              {{ form_widget(form.plainPassword.first) }}
              {{ form_errors(form.plainPassword.first) }}
            </div>

            <div class="form-group {% if form_errors(form.plainPassword.second) %}has-error{% endif %}">
              {{ form_label(form.plainPassword.second) }}
              {{ form_widget(form.plainPassword.second) }}
              {{ form_errors(form.plainPassword.second) }}
            </div>
          <div class="row row-actions row-inline-actions">
            <div class="col-12 offset-3" style="padding-bottom: 20px">
              <button type="submit" class="btn btn-lg hover-black color">	{{ 'security.login.save'|trans }}</button>
            </div>
          </div>

          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock body %}
