{% extends 'base.html.twig' %}
{% block body %}
    {% include 'common/banner.html.twig'  with {
        title: 'Entrainement',
        link: '#',
        home: 'Code de la route'
    } %}
    <div class="container-fluid bg-white">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm 3 col-md-3 col-lg-2">
                        {% include 'blocks/menuLateralAdmin.html.twig' %}
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-10">
                        <div class="row">
                            <div class="col-12">
                                {% include 'blocks/title.block.html.twig' with {
                                    title:  'drive_to_code.training.slogan',
                                    description: '10× moins cher qu’en auto-école traditionnelle !'
                                } %}
                            </div>
                            <div class="col-sm-12">
                              {% include 'common/flasbag.html.twig' %}

                              <table id="example" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Code postal</th>
                                        <th>Salary</th>
                                        <th>Editer</th>
                                        <th>supprimer</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.firstName }}</td>
                                            <td>{{ user.lastName }}</td>
                                            <td>{{ user.zipCode }}</td>
                                            <td>{{ user.role }}</td>
                                            <td><a style="color: black" href=" {{ path('profile_edit') }}">Modifier</a></td>
                                            <td><a style="color: black" href=" {{ path('profile_edit') }}">Modifier</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Code postal</th>
                                        <th>Salary</th>
                                        <th>Editer</th>
                                        <th>supprimer</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
  {% block stylesheets %}
      <link href="  https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
  {% endblock %}


