<div id="pricing-area" class="pricing-area overlay overlay-white overlay-40 pt-90 pb-60">
    <div class="container">
        <!-- Section Title -->
            <div class="container">
                <!-- Section Title -->
                <div class="row justify-content-center" id="best-offers">
                    <div class="section-title title-white text-center col-12 mb-45">
                        <h3 class="heading">{{ 'shop.best_offers.title'|trans }}</h3>
                        <div class="excerpt">
                            <p>{{ 'shop.best_offers.comment'|trans }}</p>
                        </div>
                    </div>
                    {% for shop in bestOffers %}
                        <div class="col-lg-4 col-md-6 col-12 mb-30">
                            <div class="single-pricing text-center">
                                <div class="pricing-head">
                                    <h4>{{ shop.name }}</h4>
                                </div>
                                <div class="pricing-price">
                                    <h2>{{ shop.price }} €</h2>
                                </div>
                                <p class="pricing-details" style="min-height: 80px; color: white; font-size: 15px">
                                    {{ shop.description }}
                                </p>
                                <a href="{{ path('add_product', {id: shop.id}) }}" class="pricing-action">Choisir</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Section Title -->
                <div class="row" id="driving-cards">
                    <div class="section-title title-white text-center col-12 mb-45">
                        <h3 class="heading">{{ 'shop.driving_card.title'|trans }}</h3>
                        <div class="excerpt">
                            <p>{{ 'shop.driving_card.comment'|trans }} </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    {% for shop in drivingCards %}
                        <div class="col-lg-4 col-md-6 col-12 mb-30">
                            <div class="single-pricing text-center">
                                <div class="pricing-head">
                                    <h4>{{ shop.name }}</h4>
                                </div>
                                <div class="pricing-price">
                                    <h2>{{ shop.price }} €</h2>
                                </div>
                                <p class="pricing-details" style="min-height: 80px; color: white; font-size: 15px">
                                    {{ shop.description }}
                                </p>
                                <a href="{{ path('add_product', {id: shop.id}) }}" class="pricing-action">Choisir</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
