<div class="main-menu mean-menu col-auto">
  <nav>
    <ul>
      <li class="active"><a href="{{path('homepage')}}">{{'app.menu.home'|trans}}</a></li>
      <li><a href="#">Boutique<i class="icofont icofont-simple-down"></i></a>
        <ul>
          <li><a href="#best-offers">Nos meilleures offres</a></li>
          <li><a href="#driving-cards">La conduite à la carte</a></li>
        </ul>
      </li>
      <li><a href="#">La conduite<i class="icofont icofont-simple-down"></i></a>
        <ul>
          <li><a href="{{ path('unity_booking_instructor_search_form') }}">Leçons de conduite</a></li>
          <li><a href="{{ path('unity_booking_instructor_search_form') }}">Reserver une leçon</a></li>
        </ul>
      </li>
      <li><a href="#">Examen</a></li>
      {% if app.user %}
      <li><a href="#">Compte<i class="icofont icofont-simple-down"></i></a>
        <ul>
          <li><a href="{{ path('profile_edit') }}">Profil</a></li>
          <li><a href="{{ path('security_logout') }}">Se déconnecter</a></li>
        </ul>
      {% else %}
      <li><a href="#">{{'app.home.login'|trans}}<i class="icofont icofont-simple-down"></i></a>
        <ul>
          <li><a href="{{ path('security_login') }}">Se connecter</a></li>
          <li><a href="{{ path('security_registration') }}">Inscription</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
<div class="mobile-menu col-12"></div>
