{% extends 'base.html.twig' %}
{% block body %}
  {% include 'common/banner.html.twig'  with {
    title: 'Ajouter un produit ',
    link: '#',
    home: 'Boutique'
  } %}
  <div class="container-fluid bg-white" style="min-height: 1000px">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-sm 3 col-md-3 col-lg-2">
            {% include 'blocks/sideMenu.html.twig' %}
          </div>
          <div class="col-sm-9 col-md-9 col-lg-10">
            <div class="row">
              <div class="col-12">
                {% include 'blocks/title.block.html.twig' with {
                  title:  '',
                  description: ''
                } %}
              </div>
              <div class="col-sm-12">
                {{ form_start(form) }}
              <div class="col-sm-6">
                <div class="col-sm-6">
                  {{ form_row(form.name) }}
                </div>
                <div class="col-sm-6">
                  {{ form_row(form.hour) }}
                </div>
              </div>
                <div class="col-sm-6">
                  <div class="col-sm-6">
                    {{ form_row(form.price) }}
                  </div>
                  <div class="col-sm-6">
                    {{ form_row(form.description) }}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="col-sm-6">
                  {{ form_row(form.priority) }}
                  </div>
                  <div class="col-sm-6">
                  {{ form_row(form.courseNumber) }}
                  </div>
                </div>
                <div class="col-sm-6">
                <div class="col-sm-6">
                  {{ form_row(form.complementDescription) }}
                </div>
                </div>
                <div class="col-sm-12" style="padding-top: 15px">
                  <button type="submit" class="btn btn-lg hover-black color">{{'app.action.save'|trans}}</button>
                </div>
                {{ form_end(form) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block modal %}
  {% include 'blocks/common_modal.block.html.twig' %}
{% endblock %}
  {% block stylesheets %}
  {% endblock %}


