{% extends 'base.html.twig' %}
{% block body %}
  {% include 'common/banner.html.twig'  with {
    title: 'Les moniteurs',
    link: '#',
    home: 'Code de la route'
  } %}
  <div class="container-fluid bg-white">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            {% include 'blocks/sideMenu.html.twig' %}
          </div>
          <div class="col-8">
            <div class="col-12">
              {% include 'blocks/title.block.html.twig' with {
                title:  '',
                description: ''
              } %}
            </div>
            <div class="col-12">
              <table id="example" class="display" style="width:100%">
                <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Code postal</th>
                  <th>fonction</th>
                  <th>editer</th>
                  <th>supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for instructor in instructors %}
                  {% set roles = instructor.roles|first %}
                  <tr>
                    <td>{{instructor.firstName}}</td>
                    <td>{{instructor.lastName}}</td>
                    <td>{{instructor.zipCode}}</td>
                    <td>{{ constant('App\\Entity\\User::ROLES')[roles]|trans }}
                    </td>

                    <td><a style="color: black" href=" {{ path('fos_user_profile_edit') }}">{{'app.common.edit'|trans}}</a></td>
                    <td><a style="color: black" href=" {{ path('edit_instructor', {'id':instructor.id}) }}">{{ 'app.common.delete'|trans }}</a></td>
                  </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Code postal</th>
                  <th>fonction</th>
                  <th>editer</th>
                  <th>supprimer</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

  {% block stylesheets %}
  {% endblock %}


