{% extends 'base.html.twig' %}
{% block body %}
  {% include 'common/banner.html.twig'  with {
    title: 'Liste des moniteurs',
    link: '#',
    home: 'Moniteurs'
  } %}
  <div class="container-fluid bg-white">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-sm 3 col-md-3 col-lg-2">
            {% include 'blocks/sideMenu.html.twig' %}
          </div>
          <div class="col-sm-9 col-md-9 col-lg-10">
            <div class="row">
              <div class="col-12">
                {% include 'blocks/title.block.html.twig' with {
                  title:  '',
                  description: ''
                } %}
              </div>
              <div class="col-sm-12">
                {% include 'common/flasbag.html.twig' %}
                <table id="example" class="display" style="width:100%">
                  <thead>
                  <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Code postal</th>
                    <th>fonction</th>
                    <th>Etat</th>
                    <th>editer</th>
                    <th>supprimer</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for instructor in instructors %}
                    {% set roles = instructor.roles|first %}
                    <tr>
                      <td> </td>
                      <td>{{instructor.firstName}}</td>
                      <td>{{instructor.lastName}}</td>
                      <td>{{instructor.zipCode}}</td>
                      <td>{{ constant('App\\Entity\\User::ROLES')[roles]|trans }}
                      <td>{{ constant('App\\Entity\\User::ACTIVATE')[instructor.activated]|trans }}
                      </td>
                      <td>
                        <a style="color: black" href=" {{ path('edit_instructor', {'id': instructor.id}) }} ">
                          {{'app.common.edit'|trans}}
                        </a>
                      </td>
                      <td><a style="color: black" href=" {{ path('edit_instructor', {'id':instructor.id}) }}">{{ 'app.common.delete'|trans }}</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

  {% block stylesheets %}
  {% endblock %}


