{% extends 'base.html.twig' %}
{% block body %}
  {% include 'common/banner.html.twig'  with {
    title: 'Entrainement',
    link: '#',
    home: 'Code de la route'
  } %}
  <div class="container-fluid bg-white">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            {% include 'blocks/sideMenu.html.twig' %}
          </div>
          <div class="col-8">
            <div class="col-12">
              {% include 'blocks/title.block.html.twig' with {
                title:  '',
                description: ''
              } %}
            </div>
            <div class="col-12">
              <table id="example" class="display" style="width:100%">
                <thead>
                <tr>
                  <th>Adresse</th>
                  <th>Code postal</th>
                  <th>Villel</th>
                  <th>Point de recontre</th>
                  <th>active</th>
                  <th>editer</th>
                  <th>supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for location in locations %}
                  <tr>
                    <td>{{location.address}}</td>
                    <td>{{location.postalCode}}</td>
                    <td>{{location.city}}</td>
                    <td> {{ location.metting? 'oui':'non'}} </td>
                    <td> {{ location.activated? 'oui':'non'}} </td>
                    <td><a style="color: black" href=" {{ path('edit_metting_location', {'id': location.id}) }}">Modifier</a></td>
                    <td><a style="color: black" href=" {{ path('remove_metting_location', {'id': location.id}) }}">Suuprimer</a></td>
                  </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}



