{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}

  {% include 'common/banner.html.twig' with {
    title :'security.login.registration'|trans,
    home :'app.menu.home'|trans,
    link :  path('homepage')
  } %}

  <div class="container">
    <div class="col-12">
      <div class="col-6 offset-3">
        <div class="col-12">
          {% include 'blocks/title.block.html.twig' with {
            title: 'security.login.forgot_password',
            description: 'Mot de passe oublié'
          } %}
        </div>
      </div>
    </div>
    <div class="co-12">
      <div class="col-6 offset-3">
        <div class="authentification-wrap row">
          <!-- Form -->
          <div class="col-md-6 col-auth">

            <div class="content-auth">
              <div class="block-authentification">

                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                  <div class="form-group">
                    <label for="username">{{ 'security.login.email'|trans }}</label>
                    <input type="text" id="username" name="username" required="required" class="form-control" placeholder="{{ 'security.login.email'|trans }}"/>
                  </div>
                  <div class="row row-actions row-inline-actions">
                    <div class="col-12">
                      <button type="submit" class="btn btn-lg hover-black color">Enregistrer</button>

                    </div>
                    <div class="col-12">
                      <a href="{{ path('fos_user_security_login') }}" class="action-link" style="color: black">{{ 'security.login.back_login'|trans }}</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Img -->
          <div class="col-md-6">
            <div class="block-img-auth" style="background-image:url('{{ asset('images/bg-authentification.jpg') }}');">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
