{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}

  {% include 'common/banner.html.twig' with {
    title :'security.login.reset'|trans,
    home :'app.menu.home'|trans,
    link :  path('homepage')
  } %}

	<div class="container">
    <div class="col-12">
      <div class="col-6 offset-3">
        <div class="col-12">
          {% include 'blocks/title.block.html.twig' with {
            title: 'security.login.reset',
            description: 'Modifier le mot de passe'
          } %}
        </div>
      </div>
    </div>
		<!-- Form -->
		<div class="col-12">
			<div class="col-6 offset-3">
					{% trans_default_domain 'FOSUserBundle' %}

					{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
					<div class="form-group {% if form_errors(form.plainPassword.first) %}has-error{% endif %}">
						{{ form_label(form.plainPassword.first) }}
						{{ form_widget(form.plainPassword.first) }}
						{{ form_errors(form.plainPassword.first) }}
					</div>

					<div class="form-group {% if form_errors(form.plainPassword.second) %}has-error{% endif %}">
						{{ form_label(form.plainPassword.second) }}
						{{ form_widget(form.plainPassword.second) }}
						{{ form_errors(form.plainPassword.second) }}
					</div>

					<div class="row row-actions row-inline-actions">
						<div class="col-12 offset-3" style="padding-bottom: 20px">
              <button type="submit" class="btn btn-lg hover-black color">	{{ 'security.login.reset'|trans }}</button>

            </div>
					</div>

					{{ form_end(form) }}

				</div>
			</div>
		</div>
	</div>

{% endblock %}
